* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.space {
    justify-content: space-between;
}

.p-1 {
    width: 70%;
}

.img-1 {
    width: 80%;
    height: 80%;

}

.img-2 {
    width: 100%;
    height: 100%;
}

.but {
    border-radius: 50px;
}

.search {
    width: 50px;
    height: 15px
}

.button-img {
    width: 50px;
    height: 50px;
}

.text-grey {
    color: grey;
}

.text-blue {
    color: rgb(0, 106, 255);
}

.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(45, 44, 44);
}

.margin-l {
    margin-left: 45px;
}

.ml-20 {
    margin-left: 20px;
}

.h-50 {
    height: 50%;
}

.inline {
    display: inline-block;
}