* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.w-60 {
    width: 30%;
}

.space {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.p-1 {
    width: 70%;
}

.img-1 {
    width: 80%;
    height: 80%;

}

.img-2 {
    width: 100%;
    height: 100%;
}

.img-3 {
    width: 600px;
    height: 300px;
}

.img-4 {
    width: 140px;
    height: 140px;
}

.br {
    border-radius: 50%;
}

.search {
    width: 50px;
    height: 15px
}

.button-img {
    width: 50px;
    height: 50px;
}

.button-blue {
    width: 100px;
    height: 20px;
}

.button-grey {
    width: 90px;
    height: 15px;
    
}

.bb {
    height: 20px;
    width: 120px;
}

.text-grey {
    color: grey;
}

.text-blue {
    color: rgb(0, 106, 255);
}

.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(45, 44, 44);
}

.f-size {
    font-size: 20px;
}

.f-size-2 {
    font-size: 13px;
}

.f-size-3 {
    font-size: 12px;
}

.f-size-4 {
    font-size: 15px;
}

.f-size-5 {
    font-size: 14px;
}

.f-size-10 {
    font-size: 10px;
}

.f-size-1 {
    font-size: 12px;
    color:rgb(0, 106, 255)
}

.margin-l {
    margin-left: 45px;
}

.ml-75 {
    margin-left: 75px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-85 {
    margin-left: 97px;
}

.ml-100 {
    margin-left: 243px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-20 {
    margin-right: 30px;
}

.mr-2 {
    margin-right: 200px;
}

.mr-3 {
    margin-right: 210px;
}

.mr-4 {
    margin-right: 250px;
}

.margin-2 {
    margin-top: 120px;
}

.margin-3 {
    margin-top: 40px;
    
}

.m-right {
    margin-right: 120px;
}

.h-50 {
    height: 50%;
}

.inline {
    display: inline-block;
}

.bg-container {
    background-color: #f0f4fa;
}

.container-h {
    
    height: 530px;
}

.cont-h2 {
    height: 350px;
}
.bg-grey {
    background-color: #d1d1d1;
}

.bg-green {
    background-color: #4ed7a8;
}

.container-white {
    background-color: white;
    width: 1000px;
    
}

.card {
    height: 100px;
}

.card-img {
    width: 100px;
    height: 150px;
}

.card-img-2 {
    
    height: 65px;
}

.btn-center {
    display: flex;
    justify-content: center;
    
}

.w-70 {
    width: 70%;
}
.text-white {
    justify-content: space-around;
    color: white;
}

.text-dark {
    color:rgb(50, 49, 49)
}

.content-box {
    background-color: #f0f4fa;
    width: 20%;
    height: 37px;
    border: 1px solid black;
}

.box {
    
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(180, 176, 176);
    
    
}

.box-white {
    background-color: white;
    border: 1px solid rgb(180, 176, 176);
    width: 600px;
    height: 300px;
}

.square-white {
    background-color: white;
    width: 400px;
    height: 300px;
    border: 1px solid rgb(180, 176, 176);
}

.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tg {
    color: rgb(180, 176, 176);
}

.bg-image {
    background-image: url('./assets/Img/brooke-cagle-224821-unsplash-1-1920x700.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.w-80 {
    width: 80%;
}

.img-footer {
    width: 60px;
    height: 60px;
}